doctype html
html
	head
		script(src="/socket.io/socket.io.js")
		link(rel='stylesheet' href='stylesheets/style.css')
	body(onkeypress='keydown(event)')
		.content
			.trackers
				#level.leveltracker
					| Party level: 
					span#party_level 1
					span.right
						| XP: 
						span#party_xp 0
					.progressbar
						#party_progress.progress
					br

				#thirst.leveltracker
					| Thirst:
					span.right
						| 
						span#thirstlevel 0
						span %
					.progressbar
						#thirst_bar.progress
					br

		script(type='text/javascript').
			var sounds = !{JSON.stringify(soundFiles)};
		script(src='javascripts/main.js')

