doctype html
html
	head
		script(src="/socket.io/socket.io.js")
		link(rel='stylesheet' href='stylesheets/style.css')
	body(onkeypress='keydown(event)')
		.content
			#alliance.leveltracker
				| Alliance party level: 
				span#alliance_level 1
				span.right
					| XP: 
					span#alliance_xp 0
				.progressbar
					#alliance_progress.progress
				br

			#horde.leveltracker
				| Horde party level: 
				span#horde_level 1
				span.right
					| XP: 
					span#horde_xp 0
				.progressbar
					#horde_progress.progress
				br

		script(type='text/javascript').
			var sounds = !{JSON.stringify(soundFiles)};
		script(src='javascripts/main.js')

