doctype html
html
	head
		script(src="/socket.io/socket.io.js")
		link(rel='stylesheet' href='stylesheets/style.css')
	body(onkeypress='keydown(event)')
		.content
			#good.leveltracker
				| Alliance party level: 
				span#good_level 1
				span.right
					| XP: 
					span#good_xp 0
				.progressbar
					#good_progress.progress
				br

			#evil.leveltracker
				| Horde party level: 
				span#evil_level 1
				span.right
					| XP: 
					span#evil_xp 0
				.progressbar
					#evil_progress.progress
				br


		div(style='display: none')
			- var index = 0
			each val in keys
				each file in files[val]
					//li= val + ": " + file
					audio(name='audio'+index)
						source(src=file, type='audio/ogg')
				- index++
		script(src='javascripts/main.js')

