doctype html
html
	head
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/songleader.js")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		style.
			button { padding: 5px }
	body(onkeypress='keydown(event)')
		div
			button(onclick='xp()') Increase XP
			br
			br
			- var index = 0
			each val in keys
				button(onclick='play('+index+')')= index + ": " + val + "(" +  + files[val].length + ")"
				br
				- index++
