doctype html
html
	head()
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/songleader.js")
		link(rel='stylesheet' href='stylesheets/songleader.css')
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		style.
			button { padding: 5px }
	body(onkeypress='keydown(event)')
		div.sounds
			button(onclick="play()") Gong!
		div.xp
			button.inline(onclick="xp('alliance')", style="float: left") Alliance Increase XP
			button.inline(onclick="xp('horde')", style="float: right") Horde Increase XP
