body {
	background-color: black;
}

button {
	font-size: 16px;
	font-style: bold;
	width: 100%;
	margin-top: 10%;
	height: 100px;
}

.sounds {
	width: 50%;
	height: 12vh;
	margin-top: 12vh;
	margin-bottom: 12vh;
	margin-left: auto;
	margin-right: auto;
}

.buttons {
	width: 80%;
	margin: 0 auto;
}

.xp {
	width: 85%;
	height: 12vh;
	margin-left: auto;
	margin-right: auto;

}
.sounds>button {
	width: 100%;
	height: 100%;
}

.xp>button {
	width: 45%;
	height: 100%;
}