body {
	height: 100vh;
	background: url("/images/bg.jpg");
	background-size: 100% 100%;
	margin: 0;
	background-color: black;
}

.content {
	color: white;
	width: 100%;
	font-weight: bold;
	font-size: 28px;
	position: absolute;
	bottom: 10%;
}
.right { float: right }

.leveltracker {
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
	display: inline;
}

#alliance {float: left;}

#horde {float: right;}

.progressbar {
	height: 30px;
	overflow: hidden;
	position: relative;

	background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 26%,#752201 77%,#bf6e4e 100%);;
	
	-webkit-border-radius: 15px;
	border: 2px solid gray;
}
.progress {
	display: inline-block;
	height: 30px;

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(14%,#73b1e7), color-stop(58%,#0a77d5), color-stop(100%,#539fe1));

	-webkit-border-radius: 10px;
	/*border: 2px solid gray;*/
}
